.alien{
    /* height: 800px; */
    background-color: #0f0f10;
    justify-content: center;
    align-items: center;
}
.alien h1{
    text-align: center;
    font-size: 48px;
    font-weight: 600;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 10%;
    padding-right: 10%;
    color: #ededee;
}
.alien-force-img{
    text-align: center;
}
.alien img{
    text-align: center;
    width: 28%;
    padding-bottom: 20px;
}
.alien-content{
    text-align: center;
}
.alien-content h2{
    color: #ededee;
    padding-bottom: 20px;
    font-size: 38px;
    font-weight: 500;
}
.alien-content li{
    color: #ededee;
    font-size: 28px;
    padding-bottom: 20px;
    font-weight: 550;
    cursor: pointer;
}
.alien-content h3:hover{
    color: aquamarine;
}
.alien iframe{
    width: 40%;
}

.vpn p{
    text-align: center;
    padding: 20px;
    font-size: 26px;
    padding-bottom: 14px;
}
.ins-vpn{
    color: #0f0f10;
    background: none;
    border: none;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
}
.vpn-btn{
    text-align: center;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    padding-bottom: 20px;
}
.vpn button:hover{
    text-decoration: underline;
}
.i-sm{
    color: #0f0f10;
    background-color: #0f0f10;
}

@media only screen and (max-width: 1140px){

.alien h1{
    text-align: center;
    font-size: 32px;
    font-weight: 600;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 10%;
    padding-right: 10%;
}
.alien img{
    text-align: center;
    width: 75%;
    padding-bottom: 20px;
}
.alien iframe{
    width: 100%;
    height: 300px;
    padding-top: 30px;
    padding-bottom: 20px;
    padding-left: 5%;
    padding-right: 5%;
    
}
.alien-content{
    padding-bottom: 20px;
}
.alien-content h2{
    color: #ededee;
    padding-bottom: 20px;
    font-size: 30px;
}
.alien-content li{
    color: #ededee;
    font-size: 18px;
    padding-bottom: 20px;
    padding-left: 4%;
    padding-right: 4%;
}
.vpn p{
    text-align: center;
    padding: 20px 14%;
    font-size: 18px;
    padding-bottom: 8px;
    font-weight: 500;
}
.ins-vpn{
    color: #0f0f10;
    background: none;
    border: none;
    font-size: 16px;
    font-weight: 420;
    cursor: pointer;
}
.vpn-btn{
    text-align: center;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    padding-bottom: 20px;
}
.vpn button:hover{
    text-decoration: underline;
}



}