@import url('https://fonts.googleapis.com/css2?family=Borel&family=Ephesis&family=Indie+Flower&family=Inter:wght@100..900&family=Lexend+Mega:wght@300&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: "Inter", sans-serif;
    font-weight: 600;
}
html{
    scroll-behavior: smooth;
}
header{
    /* height: 100vh;
    width: auto; */
    /* padding: 5vh 10vh; */
    /* margin: 5vh 10vh;  */
}



.navbar{
    /* height: 15vh; */
    /* width: auto; */
    /* background-color: beige; */
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    top: 0;
    cursor: pointer;
    background-color: white;
    background-color: RGB 245, 254, 253;
    padding: 0 15px;
    
}

.logo{
    width: 15%;
    display: flex;
    justify-content: center;
    /* margin-right: 10px; */
    /* margin-bottom: 20px; */
    padding: 10px 10px;
    align-items: center;
    
}

.logo:hover{
    /* border: 2px solid white;
    border-radius: 50%;
    background-color: white;
    padding: 2px 0; */
}

.logo img{
    width: 75%;
    align-items: center;
    
}

.nav-list{
    display: flex;
    width: 50%;
    align-items: center;
    
}
.listed{
    list-style: none;
    /* margin: 25px; */
    padding: 26px 30px;
}
.listed > a {
    text-decoration: none;
    color: black;
    font-size: 20px;
}

.listed > a:hover {
   /* border: 2px solid black;
   border-radius: 20px;
   padding: 5px 12px;
   border-color: black;
   background-color: black; */
   /* color: rgb(76, 206, 184);  */
  
}

.navRight{
    /* background-color: purple; */
    text-align: right;
    width: 50%;
    align-items: center;
    padding: 0 15px;
}

#search{
    padding: 5px;
    font-size: 17px;
    border: 2px solid black;
    border-radius: 20px; 
}

.background{
    /* background: rgba(0, 0, 0, 0.7) url('../img/yan-ru-afternoon1.jpg'); */
    background: rgba(0, 0, 0, 0.6) url('../img/yan-ru-afternoon1.jpg');
    
    background-size: cover;
    background-blend-mode: darken;
    
}

.firstSection{
    height: 100vh;
    
}

.box-main{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 50%;
    margin: auto;
    height: 80%;
}

.firstHalf{
    width: 80%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: white;
}

.firstHalf > h1{
    font-size: 46px;
    z-index: 1;
}

.firstHalf > p{
    font-size: 19px;
    padding-top: 10px;
    margin-top: 10px;
    font-weight: 400;
    
}

.secondHalf{
    width: 30%;
    display: none;
}

.secondHalf.img{
    display: block;
    margin: auto;
}

.btn{
    background: none;
    border: none;
    font-family: "Inter", sans-serif;
    font-weight: 600;
    font-size: 18px;
    margin: 10px;
    color: black
}

.btn-sm{
    border: 2px solid black;
    border-radius: 20px;
    padding: 5px 12px;
    /* vertical-align: middle; */
    cursor: pointer;
}

.login:hover{
    /* border: 2px solid black;
    border-radius: 20px;
    padding: 5px 15px; */
    /* color: white;
    background-color: black; */
    cursor: pointer;
}

.SignUp{
    border: 2px solid black;
    border-radius: 20px;
    padding: 5px 15px;
    color: white;
    background-color: black;
}

.SignUp:hover{
    background-color: white;
    color: black;
    cursor: pointer;
}

.watch{
    margin: 22px 0;
    padding: 10px 12px;
    cursor: pointer;
    border-radius: 50px;
    color: white;
    /* background-color: white; */
    font-family: "Inter", sans-serif;
    font-weight: 600;
    border: 2px solid white;
    font-size: 16px;
    width: 150px;
    background: none;
}

.watch:hover{
    background-color: black;
    color: white;
    }

.discuss{
    padding: 10px 12px;
    cursor: pointer;
    border-radius: 50px;
    color: white;
    /* background-color: white; */
    font-family: "Inter", sans-serif;
    font-weight: 600;
    border: 2px solid white;
    font-size: 16px;
    width: 150px;
    background: none;
    margin: 0 10px;
}

.discuss:hover{
    background-color: black;
    color: white;
    }

.section{
    /* height: 500px; */
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    max-width: 80%;
    margin: auto;
    padding: 16px 0;
}

.textbig{
    font-size: 45px;
}

.textsmall{
    font-size: 18px;
}

.thumbnail{
    padding-left: 30px;
}

.thumbnail img{
    width: 75%;
    /* padding-left: 20px; */
    
}

.paras{
padding-top: 60px;
padding-bottom: 50px;
padding-left: 62px;
/* padding-right: 50px; */
width: 290%;
}



.left{
    flex-direction: row-reverse;
    
}

.thumbnailLeft{
   
    
}

.thumbnailLeft img{
    width: 150%;
    padding-left: 62px;
}

.parasLeft{
    padding-left: 150px;
    padding-right: 70px;
    padding-top: 50px;
    padding-bottom: 50px;
}

.parasRight{
    padding-left: 62px;
    width: 350%;
    padding-right: 50px;
    padding-top: 50px;
    padding-bottom: 65px;
    
}

.thumbnailRight{
    padding-left: 10px;
    
}

.thumbnailRight img{
    width: 65%;
    
}

.sectionSubTag{
    /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
}

.contact{
    background-color: aliceblue;
    height: 70vh;
}

.text-better{
text-align: center;
padding-top: 25px;
font-size: 35px;
}

.form{
    max-width: 62%;
    margin: 25px auto;
}

.form-input{
width: 100%;
font-size: 19px;
border: 2px solid black;
border-radius: 6px;
margin: 14px 0;
padding: 5px 3px;

}

.btn-dark{
    border: 2px solid black;
    border-radius: 50px;
    padding: 10px 20px;
    margin: 14px 0;
    cursor: pointer;
    
}

.text-footer{
    text-align: center;
    padding-top: 25px;
    display: flex;
    justify-content: center;
    vertical-align: middle;
    padding-bottom: 25px;
    background-color: #ededee;
    font-weight: 300;
    color: #a0a2a5;

}

.bg{
    /* position: fixed; */
    margin-bottom: 0px;
    padding-bottom: 0px;
}

.burger{
    display: none;
    position: absolute;
    cursor: pointer;
    right: 5%;
    top: 15px;
}
.line{
    width: 33px;
    background-color: black;
    border-radius: 50px;
    height: 4px;
    margin: 4px 3px;
}
@media only screen and (max-width: 1140px){
    .nav-list{
        flex-direction: column;
    }
    .navbar{
        flex-direction: column;
        transition: all 0.7s ease-out;
        height: 447px;
        flex-direction: column-reverse;
    }
   .navRight{
        text-align: center;
        margin: auto;
   }
   #search{
    width: 40%;
   }
   .btn-sm{
    /* margin: 10px 60px; */
   }
   .burger{
    margin-top: 5px;
    display: block;
   }
   .h-nav-resp{
    height: 72px;
   }
   .v-class-resp{
    opacity: 0;
   }
   .logo{
    display: none;
   }
   .box-main{
    flex-direction: column-reverse;
    max-width: 100%;
   }
   .secondHalf{
    display: none;
   }
   .firstHalf > h1{
    font-size: 36px;
   }
   .firstHalf > p{
    font-size: 16px;
    padding-top: 10px;
    margin-top: 10px;
    font-weight: 400;
    }
}



.welcome{
    display: flex;
}
.container{
    width: 100%;
    height:100vh;
    font-size: 22px;
}
.content1{
    width: 80vh;
}
.content1 > h1{
    display: inline-block;
    font-size: 45px;
}
.content1 > p{
    margin: 30px 0;
    width: 70vh;

}
.underline{
    height: 14px;
    width: 26rem;
    /* z-index: -1; */
    background-color: black;
    position: relative;
    bottom: 10px;
    border-radius: 50px;
}







.img3{
    padding: 50px 5px;
}
.pikaImg{
    position: relative;
    left: 200px;
    top: 100px;
}

.catcontainer{
    
}